.electric-border {
    --electric-light-color: oklch(from var(--electric-border-color) l c h);
    position: relative;
    border-radius: inherit;
    overflow: visible;
    isolation: isolate;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.eb-canvas-container {
    position: absolute;
    top: 34%;
    left: 58%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 2;
    width: 150%;
    height: 100%;
}

.eb-canvas {
    display: block;
}

.eb-content {
    position: relative;
    border-radius: inherit;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eb-layers {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    z-index: 0;
}

.eb-glow-1,
.eb-glow-2,
.eb-background-glow {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    box-sizing: border-box;
}

.eb-glow-1 {
    border: 1px solid aqua;
    box-shadow: 0 0 0 2px aqua;
    filter: blur(2px);
}

.eb-glow-2 {
    border: 1px solid aqua;
    box-shadow: 0 0 0 2px aqua;
    filter: blur(2px);
}

.eb-background-glow {
    z-index: -1;
    transform: scale(1.1);
    filter: blur(32px);
    opacity: 0.15;
    background: linear-gradient(-30deg, var(--electric-light-color), transparent, var(--electric-border-color));
}